<footer>
    <a href="" class="back-to-top"></a>
    <div class="footer__inner">
        <div class="footer__social">
            <ul class="social__list">
                <li class="social__icon social__icon--vkontakte">
                    <a href="https://vk.com/id208128080" aria-label="вконтакте" target="blank">
                        <svg width="23" height="16">
                            <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#vkontakte"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icon social__icon--email">
                    <a href="mailto:zaridony@yandex.ru" aria-label="электронная почта">
                        <svg width="23" height="16">
                            <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#email"></use>
                        </svg>
                    </a>
                </li>
                <li class="social__icon social__icon--git">
                    <a href="https://github.com/blessMe-Padre" aria-label="Гит хаб" target="blank">
                        <svg width="28" height="28">
                            <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#git"></use>
                        </svg>
                    </a>
                </li>
                </li>
                <li class="social__icon social__icon--git">
                    <a href="https://t.me/subbotinSegrey" aria-label="телеграм" target="black">
                        <svg width="28" height="28">
                            <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#telegram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contact"></div>
    </div>
</footer>