<footer>
    <section class="form-section page_section_4">
        <div class="form">
            <form action="#" id="form" class="form__body">
                <h1 class="form__title">Форма для связи</h1>
                <div class="form__item">
                    <label for="formName" class="form__label">Имя*:</label>
                    <input id="formName" type="text" name="name" class="form__input _req">
                </div>
                <div class="form__item">
                    <label for="formEmail" class="form__label">E-mail*:</label>
                    <input id="formEmail" type="text" name="email" class="form__input _req _email">
                </div>

                <div class="form__item">
                    <label for="formMessage" class="form__label">Сообщение:</label>
                    <textarea name="message" id="formMessage" class="form__input"></textarea>
                </div>
                <div class="form__item">
                    <div class="checkbox">
                        <input id="formAgreement" checked type="checkbox" name="agreement" class="checkbox__input _req">
                        <label for="formAgreement" class="checkbox__label"><span>Я даю свое согласие на обработку
                                персональных данных в соответствии с <a href="">Условиями</a>*</span></label>
                    </div>
                </div>
                <button type="submit" class="form__button">Отправить</button>
            </form>
        </div>
    </section>

    <a href="" class="back-to-top"></a>
</footer>