<header class="header lock-padding">
    <div class="header__container">
        <a href="portfolio.html" class="header__logo">
            &lt; /portfolio &gt;
        </a>
        <div class="header__menu menu">
            <div class="menu__icon">
                <span></span>
            </div>
            <nav class="menu__body">
                <ul class="menu__list">
                    <li><a href="index.html" class="menu__link">Главная</a></li>
                    <li><a data-goto=".page_section_1" href="block-01.html" class="menu__link">Секции</a></li>
                    <li><a href="articles.html" class="menu__link">Статьи</a>
                        <span class="menu__arrow"></span>
                        <ul class="menu__sublist">
                            <li><a href="articles.html" class="menu__sub-link">Ссылки на ресурсы</a></li>
                            <li><a href="" class="menu__sub-link">sub-link 2</a></li>
                            <li><a href="" class="menu__sub-link">sub-link 3</a></li>
                        </ul>
                    </li>
                    <li><a href="portfolio.html" class="menu__link">Портфолио</a></li>
                    <li><a href="#popup" class="menu__link  popup-link">Контакты</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>