<div id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#header" class="popup__close close-popup">
                <img src="assets/images/close.svg" alt="">
            </a>
            <section class="form-section page_section_4">
                <div class="form">
                    <form action="#" id="form" class="form__body">
                        <h1 class="form__title">Форма для связи</h1>
                        <div class="form__item">
                            <label for="formName" class="form__label">Имя*:</label>
                            <input id="formName" type="text" name="name" class="form__input _req">
                        </div>
                        <div class="form__item">
                            <label for="formEmail" class="form__label">E-mail*:</label>
                            <input id="formEmail" type="text" name="email" class="form__input _req _email">
                        </div>

                        <div class="form__item">
                            <label for="formMessage" class="form__label">Сообщение:</label>
                            <textarea name="message" id="formMessage" class="form__input"></textarea>
                        </div>
                        <button type="submit" class="form__button">Отправить</button>
                    </form>
                </div>
                <ul class="social__list">
                    <li class="social__icon social__icon--vkontakte">
                        <a href="#" aria-label="вконтакте">
                            <svg width="23" height="16">
                                <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#vkontakte"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__icon social__icon--git">
                        <a href="#" aria-label="Гит хаб">
                            <svg width="28" height="28">
                                <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#git"></use>
                            </svg>
                        </a>
                    </li>
                    </li>
                    <li class="social__icon social__icon--git">
                        <a href="#" aria-label="телеграм">
                            <svg width="28" height="28">
                                <use class="svg-link-hover" xlink:href="assets/images/sprite.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>