.git {
    font-size: 20px;
    margin-bottom: 50px;
}

.git__subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.git__text {
    margin-bottom: 20px;
}

.git__text code {
    display: block;
    padding: 10px 20px;
    color: #FFFFFF;
    font-family: inherit;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 10px;
}