.portfolio-bg {
    margin-top: 70px;
    background: none;
    background-color: lighten(#262526, 10%);
    min-height: 300px;
}

.portfolio {
    padding-top: 40px;
    margin-bottom: 40px;

    // .portfolio__list

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 50px;

        @media (max-width: 1020px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        @media (max-width: 658px) {
            grid-template-columns: 1fr;
        }
    }

    // .portfolio__item

    &__item {
        display: block;
        min-height: 492px;
        width: 100%;
        background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(53,47,47,.3) 100%);
    }
}

.portfolio-card {

    // .portfolio-card__link

    &__link {
        position: relative;
        display: block;
        box-shadow: 0 0 5px 2px rgb(230,157,0);
        border-radius: 4px;
        transition-duration: 500ms;
        width: 100%;
    }

    &__link:hover {
        box-shadow: 0 5px 15px 3px rgb(230,157,0);
        transform: translateY(-10px);
    }

    &__link:focus {
        box-shadow: 0 5px 15px 3px rgb(230,157,0);
        transform: translateY(-10px);
        outline: none;
    }

    // .portfolio-card__img

    &__img {
        width: 100%;
        border-radius: 7px;
        object-fit: cover;
    }

    &__description {
        color: #ffffff;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 492px;
        width: 100%;
        padding: 15px 40px;
        box-sizing: border-box;
        text-align: center;
        background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(53,47,47,.3) 100%);
        opacity: 0;
        transition-duration: 500ms;
        border-radius: 4px;
    }
    &__description:hover {
        opacity: 1;
    }

    &__description-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-shadow: 2px 2px 3px black;
        margin-bottom: 40px;
    }
    &__description-text {
        font-size: 18px;
        text-shadow: 2px 2px 3px black;
    }
}

.portfolio-card__link:focus .portfolio-card__description {
    opacity: 1;
}