.updates {
    padding: 30px 0;
}

.updates__title {
    margin-bottom: 30px;
}

.updates__block {
    margin-bottom: 30px;
}

.updates__date {
    margin-bottom: 10px;
}

.updates__list {
    padding-left: 40px;
}

.updates__item {
    list-style: disc;
    margin-bottom: 10px;
}