/*>> шрифт по умолчанию ================================*/

$fontfamily: "Lato";

$orange: #FF6D03;
$greylow: #7c7c7c;
$grey: #262526;

/*>> шрифт по умолчанию ================================*/

$minwidth: 320 px;
$mw: 1200 + px;
$md1: $mw + 12 px;
$md2: 991.98 + px;
$md3: 767.98 + px;
$md4: 540.98 + px;
$md5: 479.98 + px;