/*>> шрифт по умолчанию ================================*/

$fontfamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$orange: #E68A00;
$greylow: #352f2f;
$grey: #262526;

/*>> шрифт по умолчанию ================================*/

$minwidth: 320 px;
$mw: 1200 + px;
$md1: $mw + 12 px;
$md2: 991.98 + px;
$md3: 767.98 + px;
$md4: 540.98 + px;
$md5: 479.98 + px;