$fontfamily: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, helvetica, arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$mainColor: #3a3a3a;

$orange: #e68a00;
$orangeColor: #e89f71;

$greylow: #352f2f;
$grey: #262526;
$grayColor: #898989;
$darkGrayColor: #616161;
$white: #ffffff;

$minwidth: 320 px;
$mw: 1200 + px;
$md1: $mw + 12 px;
$md2: 991.98 + px;
$md3: 767.98 + px;
$md4: 540.98 + px;
$md5: 479.98 + px;
