/*Подключение файлов переменных миксинов обнуления*/
@import "_var";
@import "vendor/null";
/*================================================================*/

/*Подключение шрифтов*/
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
/*================================================================*/



//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	background-color: $greylow;
	color: #fff;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;

}

//</ОБОЛОЧКА>===============================

//<ОСНОВНАЯ СЕТКА>===================================================================
.container {
	max-width: $mw;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>========================================================

._ibg {
	position: relative;
  }

  ._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	   object-fit: cover;
  }

// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ

@import "blocks/header";
@import "blocks/start";
@import "blocks/cars";
@import "blocks/fairy";
@import "blocks/team";
@import "blocks/mavic";
@import "blocks/product";
@import "blocks/meetteam";
@import "blocks/form";
@import "blocks/up";
@import "blocks/popup";
@import "blocks/pagination";
@import "blocks/portfolio";
// @import "blocks/footer";


