<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="wrapper">
        {{> header }}

        {{> body }}

        {{> footer }}

        {{> popup }}
    </div>


    <!-- Подключаем cdn jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Подключаем cdn sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Подключаем cdn slick -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Подключаем основной файл js -->
    <script src="assets/js/app.js"></script>

</body>

</html>