<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    {{> header-main }}

    <div class="wrapper">
        <!-- “воу-воу-воу!” - отметит пытливый ум, не поленившись открыть инструменты разработчика. Так вон же, на главной странице, красивым, адаптивным шрифтом написано, что верстка семантическая и доступная, а у секций нет заголовков и некоторые кнопки не доступны с клавиатуры, а ресурсы и библиотеки подключены  через cdn… И будет прав.

Это не просто лендинг или сайт визитка. Это большой, тяжелый пет проект длинною в больше года. Начинался с двух файлов index.html и style.css на локальной машине и постепенно (по мере моего обучения) обрастал функционалом, технологиями и библиотеками.

Можно ли все переписать? Можно. Но мне также важно, на этом примере, отслеживать свой рост как веб разработчика. Если перейти в раздел портфолио, там можно посмотреть работы которые проходили ревью, тестировались, в которых использовались лучшие практики, линтеры, и современные стандарты. -->
        <main class="main">
            {{> body }}

            {{> popup }}
        </main>
        {{> footer }}
    </div>


    <!-- Подключаем cdn jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Подключаем cdn sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Подключаем cdn slick -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Подключаем основной файл js -->
    <script src="assets/js/app.js"></script>

</body>

</html>